In [1]:
import numpy as np
import pandas as pd
from tools import DownloadData
import json
import yfinance as yf
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

In [2]:
with open("sp500-historical-components.json",'r') as load_f:
    load_dict = json.load(load_f)

In [3]:
d = {}
for i in load_dict:
    if i['Date'] == '2017/05/03':
        continue
    j = i['Date'].replace('/','-')
    d[j] = i['Symbols']

In [4]:
tmp = list(d.keys())
tmp.sort()
tmp

['2008-01-31',
 '2008-02-29',
 '2008-03-31',
 '2008-04-30',
 '2008-05-30',
 '2008-06-30',
 '2008-07-31',
 '2008-08-29',
 '2008-09-30',
 '2008-10-31',
 '2008-11-28',
 '2008-12-31',
 '2009-01-30',
 '2009-02-27',
 '2009-03-31',
 '2009-04-30',
 '2009-05-29',
 '2009-06-30',
 '2009-07-31',
 '2009-08-31',
 '2009-09-30',
 '2009-10-30',
 '2009-11-30',
 '2009-12-31',
 '2010-01-29',
 '2010-02-26',
 '2010-03-31',
 '2010-04-30',
 '2010-05-28',
 '2010-06-30',
 '2010-07-30',
 '2010-08-31',
 '2010-09-30',
 '2010-10-29',
 '2010-11-30',
 '2010-12-31',
 '2011-01-31',
 '2011-02-28',
 '2011-03-31',
 '2011-04-29',
 '2011-05-31',
 '2011-06-30',
 '2011-07-29',
 '2011-08-31',
 '2011-09-30',
 '2011-10-31',
 '2011-11-30',
 '2011-12-30',
 '2012-01-31',
 '2012-02-29',
 '2012-03-30',
 '2012-04-30',
 '2012-05-31',
 '2012-06-29',
 '2012-07-31',
 '2012-08-31',
 '2012-09-28',
 '2012-10-31',
 '2012-11-30',
 '2012-12-31',
 '2013-01-31',
 '2013-02-28',
 '2013-03-28',
 '2013-04-30',
 '2013-05-31',
 '2013-06-28',
 '2013-07-31',
 '2013-08-30',
 '2013-09-30',
 '2013-10-31',
 '2013-11-29',
 '2013-12-31',
 '2014-01-31',
 '2014-02-28',
 '2014-03-31',
 '2014-04-30',
 '2014-05-30',
 '2014-06-30',
 '2014-07-31',
 '2014-08-29',
 '2014-09-30',
 '2014-10-31',
 '2014-11-28',
 '2014-12-31',
 '2015-01-30',
 '2015-02-27',
 '2015-03-31',
 '2015-04-30',
 '2015-05-29',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-30',
 '2015-11-30',
 '2015-12-31',
 '2016-01-29',
 '2016-02-29',
 '2016-03-31',
 '2016-04-29',
 '2016-05-31',
 '2016-06-30',
 '2016-07-29',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-30',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-28']

In [17]:
dd = set()
for i,v in d.items():
    dd = dd.union(set(v))
# dd = list(dd)

In [18]:
# DownloadData(d, '2007-01-01','2019-08-31','data/')

In [19]:
# DownloadData(dd, '2007-01-01','2019-08-31','data/')

In [20]:
len(dd)

770

In [27]:
cc = dd
for i,v in d.items():
    if ((i<'2012-01-01') | (i>'2016-12-31')):
        continue
    cc = cc.intersection(v)
cc = list(cc)

In [28]:
len(cc)

370

In [30]:
s = cc[0]
s

'AVB'

In [38]:
f = None
for s in cc:
    data = pd.read_csv('./data1/'+s+'.csv', index_col=0)[['Close']]
    data = data/data.shift(1)
    data.dropna(inplace = True)
    data.head()

    if f is None:
        f = data.copy()
        f.columns = [s]
    else:
        f[s] = data.Close
f.head()

,AVB,CPB,SEE,PPL,BFB,MSI,IVZ,WAT,TMK,NFX,...,FTI,GT,PGR,AVY,UTX,VNO,PX,GD,LEG,DUK
2007-01-04,1.022990,0.995876,0.992945,0.994981,NaN,0.999038,0.991029,1.006956,NaN,NaN,...,0.960705,0.994298,1.000826,0.995740,1.000955,1.002471,NaN,1.006356,0.997035,1.002090
2007-01-05,0.988611,0.982402,0.986716,0.982493,NaN,0.921632,0.981466,0.988826,NaN,NaN,...,0.992243,1.026908,0.980190,0.993067,0.996978,0.979834,NaN,1.002284,0.996602,0.977059
2007-01-08,1.012211,1.003688,1.002192,0.997584,NaN,0.982106,1.009223,1.038627,NaN,NaN,...,1.019900,1.032646,1.006737,1.005199,1.008137,0.988223,NaN,1.045717,1.000000,1.001601
2007-01-09,0.981639,1.006299,1.000937,1.004239,NaN,0.981779,1.010444,1.011672,NaN,NaN,...,0.981185,1.037854,0.982852,1.005763,0.988606,1.014925,NaN,1.003974,0.999147,0.995205
2007-01-10,1.015149,0.992175,1.003433,0.996684,NaN,0.994446,0.988372,1.014861,NaN,NaN,...,1.000710,0.994790,0.997447,1.003673,1.003522,1.013794,NaN,1.012514,1.002133,0.995717

In [43]:
f.dropna(axis=1, inplace=True)

In [44]:
f.to_csv('spy500_12_16.csv')

In [45]:
f.head()

,AVB,CPB,SEE,PPL,MSI,IVZ,WAT,KEY,PPG,PBCT,...,TROW,FTI,GT,PGR,AVY,UTX,VNO,GD,LEG,DUK
2007-01-04,1.022990,0.995876,0.992945,0.994981,0.999038,0.991029,1.006956,0.992637,0.999690,0.995771,...,1.008743,0.960705,0.994298,1.000826,0.995740,1.000955,1.002471,1.006356,0.997035,1.002090
2007-01-05,0.988611,0.982402,0.986716,0.982493,0.921632,0.981466,0.988826,0.988609,1.003410,0.989146,...,0.998050,0.992243,1.026908,0.980190,0.993067,0.996978,0.979834,1.002284,0.996602,0.977059
2007-01-08,1.012211,1.003688,1.002192,0.997584,0.982106,1.009223,1.038627,1.008039,0.993204,1.001908,...,1.018237,1.019900,1.032646,1.006737,1.005199,1.008137,0.988223,1.045717,1.000000,1.001601
2007-01-09,0.981639,1.006299,1.000937,1.004239,0.981779,1.010444,1.011672,1.005051,1.013997,0.992857,...,1.004051,0.981185,1.037854,0.982852,1.005763,0.988606,1.014925,1.003974,0.999147,0.995205
2007-01-10,1.015149,0.992175,1.003433,0.996684,0.994446,0.988372,1.014861,0.994446,1.001534,1.008633,...,1.005734,1.000710,0.994790,0.997447,1.003673,1.003522,1.013794,1.012514,1.002133,0.995717